extends layout

block headStyles
    link(rel='stylesheet', href='/stylesheets/indexStyle.css')


block content

    .container
        h1 Software Tool Tips
        p 3rd party software reviews

    .container
        .col-md-6
            h2 New Products
            .container.col-md-11
                each product in newProducts
                    a.no-decoration(href="/product/#{product.productName}/#{product.version}")
                        .post.clickable-row
                            h2.title= product.productName + " - " + product.version
                            br
                            h1.rating= product.overallRate + "/10"
                            .container.image.col-md-4
                                img(src="#{product.logoUrl}",class="logo")
                            p= product.description

        #popular.col-md-6
            h2 Popular Products
            .container.col-md-11
                each product in popProducts
                    a.no-decoration(href="/product/#{product.productName}/#{product.version}")
                        .post.clickable-row
                            h2.title= product.productName + " - " + product.version
                            br
                            h1.rating= product.overallRate + "/10"
                            .container.image.col-md-4
                                img(src="#{product.logoUrl}",class="logo")
                            p= product.description




