extends layout

block headStyles
    link(rel='stylesheet', href='/stylesheets/productStyle.css')

block content
    #ratings
        a(href="/product/#{product.productName}/stats/?version=#{product.version}")
            button.btn.submit-btn Statistics
        .rating
            h3 Overall
            if(product.overallRate)
                h2.rate #{product.overallRate.toFixed(1)}/10
                .bar.bar-back
                    .bar#overall(style="width:#{(product.overallRate / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Learnability
            if(product.learnability)
                h2.rate #{product.learnability.toFixed(1)}/10
                .bar.bar-back
                    .bar#learnability(style="width:#{(product.learnability / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Ease of Use
            if(product.easeOfUse)
                h2.rate #{product.easeOfUse.toFixed(1)}/10
                .bar.bar-back
                    .bar#easeOfUse(style="width:#{(product.easeOfUse / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Compatibility
            if(product.compatibility)
                h2.rate #{product.compatibility.toFixed(1)}/10
                .bar.bar-back
                    .bar#compatibility(style="width:#{(product.compatibility / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Documentation
            if(product.documentation)
                h2.rate #{product.documentation.toFixed(1)}/10
                .bar.bar-back
                    .bar#documentation(style="width:#{(product.documentation / 10.0) * 100}%")
            else
                h2 No Rating
        #tags
            h1 Tags
    #description
        h1 #{product.productName} - #{product.version}
        img#logo(src="#{product.logoUrl}", onerror="this.style.display='none'")
        div
            h2 Description
            p= product.description

        .container
            .col-md-100
                h3 Comments
                if(session.isLoggedIn)
                    if(!hasCommented)
                        .container.col-md-100#addComment
                            form
                                textarea(type="text", name="body")#commentBody.form-control
                                label Overall Rating
                                select(name="overall")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                label Learnability
                                select(name="learnability")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                label Ease of Use
                                select(name="easeOfUse")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                label Compatibility
                                select(name="compatibility")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                label Documentation
                                select(name="documentation")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                button.btn.submit-btn#createReview Create Review
                    else
                        p You have already created a review
                else
                    p Please log in to add a review
                .container.col-md-100#commentList
                #loadMore
                    button.btn#more Load More


    script.
        var offset = 0;
        var pId = #{product.productId};

        function getComments(callback){
            $.ajax({
                type: "POST",
                url: "/product/" + pId + "/comments",
                cache: false,
                data: {offset:offset},
                success: function (result) {
                    callback(result);
                },
                error: function (res, p1, p2) {
                    console.log("error:" + res);
                }
            });
        }

        function appendComments(comments){
            offset+= comments.length;
            if(comments.length < 5){
                $("#more").hide();
            }
            for(var i in comments){
                var comment = comments[i];
                var com = createComment(comment);
                com.hide();
                com.appendTo("#commentList");
                com.slideDown('slow');
            }
        }

        function createComment(com){
            var comE = $(document.createElement('div')).attr('class','comment');
            var e = $(document.createElement('p')).attr('class','comUser').text(com.username);
            comE.append(e);
            e = $(document.createElement('p')).attr('class','comBody').text(com.commentBody);
            comE.append(e);
            e = $(document.createElement('p')).attr('class','comDate').text(com.commentTime);
            comE.append(e);
            return comE;
        }

        function loadMore(){
            getComments(appendComments);

        }

        function addCreatedReview(result){
            var com = createComment(result);
            //Add one due to your new review
            offset++;
            com.hide();
            com.prependTo("#commentList");
            com.slideDown('slow');
        }

        function createReview(event){

            event.preventDefault();
            $('#createReview').prop("disabled",true);
            var formdata = $('form').serialize();

            $.ajax({
                type: "POST",
                url: "/product/" + pId + "/comment",
                cache: false,
                data: formdata,
                success: function (result) {
                    addCreatedReview(result);
                    $('#addComment').slideUp();
                },
                error: function (res, p1, p2) {
                    console.log("error:" + res);
                    $('#createReview').prop("disabled",false);
                }
            });
        }

        $(document).ready(function(){
           getComments(appendComments);
            $("#more").click(loadMore);
            $("#createReview").click(createReview);
        });