//
   Created by Daniel on 2/2/2016.

extends layout

block headStyles
    link(rel='stylesheet', href='/stylesheets/productStyle.css')

block content
    table
        thead
            tr
            th= productName
        tbody
            tr
                td= logoUrl
            tr
                td= version
            tr
                td= lastUpdate
    .container
        .col-md-100
            h3 Comments
            .container.col-md-100
                each comment in comments
                    .post
                        p.comUser=comment.username
                        p.comBody=comment.commentBody
                        p.comDate=comment.commentTime