extends layout

block headStyles
    link(rel='stylesheet', href='/stylesheets/productStyle.css')

block content
    #ratings
        a(href="/product/#{product.productName}/stats/?version=#{product.version}")
            button.btn.submit-btn Statistics
        .rating
            h3 Overall
            if(product.overallRate)
                h2.rate #{product.overallRate.toFixed(1)}/10
                .bar.bar-back
                    .bar#overall(style="width:#{(product.overallRate / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Learnability
            if(product.learnability)
                h2.rate #{product.learnability.toFixed(1)}/10
                .bar.bar-back
                    .bar#learnability(style="width:#{(product.learnability / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Ease of Use
            if(product.easeOfUse)
                h2.rate #{product.easeOfUse.toFixed(1)}/10
                .bar.bar-back
                    .bar#easeOfUse(style="width:#{(product.easeOfUse / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Compatibility
            if(product.compatibility)
                h2.rate #{product.compatibility.toFixed(1)}/10
                .bar.bar-back
                    .bar#compatibility(style="width:#{(product.compatibility / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Documentation
            if(product.documentation)
                h2.rate #{product.documentation.toFixed(1)}/10
                .bar.bar-back
                    .bar#documentation(style="width:#{(product.documentation / 10.0) * 100}%")
            else
                h2 No Rating
        if(product.tags)
            #tags

                h1 Tags
                each tag in product.tags.split(',')
                    .tag= tag

    #edit
        if(session.isLoggedIn && product.userId == session.user.userId)
            a(href="/product/#{product.productName}/#{product.version}/edit")
                button.btn#edit-btn Edit Product
    #description
        h1 #{product.productName} - #{product.version}
        img#logo(src="#{product.logoUrl}", onerror="this.style.display='none'")
        div
            h2 Description
            p= product.description

        .container
            .col-md-100
                h3 Comments
                if(session.isLoggedIn)
                    if(!hasCommented)
                        .container.col-md-100#addComment
                            form
                                textarea(type="text", name="body")#commentBody.form-control
                                label Overall Rating
                                select(name="overall")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                label Learnability
                                select(name="learnability")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                label Ease of Use
                                select(name="easeOfUse")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                label Compatibility
                                select(name="compatibility")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                label Documentation
                                select(name="documentation")
                                    each r in [0,1,2,3,4,5,6,7,8,9,10]
                                        option(value="#{r}")= r
                                button.btn.submit-btn#createReview Create Review
                    else
                        p You have already created a review
                else
                    p Please log in to add a review
                        a(href="/login")
                            button.btn.highlight-btn#login Login
                .container.col-md-100#commentList
                #loadMore
                    button.btn.highlight-btn#more Load More



    script.
        var offset = 0;
        var pId = #{product.productId};

        function getComments(callback){
            $.ajax({
                type: "GET",
                url: "/review/" + pId + "/comments",
                cache: false,
                data: {offset:offset},
                success: function (result) {
                    callback(result);
                },
                error: function (res, p1, p2) {
                    console.log("error:" + res);
                }
            });
        }

        function appendComments(comments){
            offset+= comments.length;
            if(comments.length < 5){
                $("#more").hide();
            }
            for(var i in comments){
                var comment = comments[i];
                var com = createComment(comment);
                com.hide();
                com.appendTo("#commentList");
                com.slideDown('slow');
            }
        }

        function removeComment(id){
            $('#' + id).slideUp();
        }

        function deleteComment(){
            if(confirm("Are you sure you want to delete this comment?")) {
                var comId = $(this).closest(".comment").attr('id');
                $.ajax({
                    type: "DELETE",
                    url: "/review/" + comId,
                    success: function (result) {
                        if (result.success) {
                            removeComment(comId);
                        } else {
                            alert(result.err);
                        }
                    },
                    error: function (res, p1, p2) {
                        console.log("error:" + res);
                    }
                });
            }
        }

        function rate(title,num,tag){
            var hold = $(document.createElement('div')).attr('class', 'com-holder');
            hold.append($(document.createElement('h4')).text(title));
            hold.append($(document.createElement('p')).attr('class', 'com-rating-p').text(num + "/10"));
            var rate = $(document.createElement('div')).attr('class', 'com-rate com-rating');
            rate.append($(document.createElement('div')).attr('class', 'com-rate ' + tag).width(((num / 10.0) * 100) + "%"));
            hold.append(rate);
            return hold
        }

        function createRatings(com){
            var sec = $(document.createElement('div')).attr('class','com-rating-sec');
            sec.append(rate("Learnability",com.learnability,"learn-com"));
            sec.append(rate("Ease of Use",com.easeOfUse,"eou-com"));
            sec.append(rate("Compatibility",com.compatibility,"comp-com"));
            sec.append(rate("Documentation",com.documentation,"doc-com"));
            return sec;
        }


        function createComment(com){
            var comE = $(document.createElement('div')).attr('class','comment').attr('id',com.commentId);
            var left = $(document.createElement('div')).attr('class','com-left');
            var mid = $(document.createElement('div')).attr('class','com-body');
            var right = $(document.createElement('div')).attr('class','com-right');
            if("#{session.user ? session.user.userId : ''}" == com.userId){
                var del = $(document.createElement('button')).attr('class','deleteButton').text("X");
                del.click(deleteComment);
                right.append(del);
            }
            var e = $(document.createElement('p')).attr('class', 'com-date').text(com.commentTime);
            right.append(e);
            e = $(document.createElement('a')).attr('href','/user/' + com.userId).attr('class','user-link');
            e.append($(document.createElement('p')).attr('class','comUser').text(com.username));
            left.append(e);
            e = $(document.createElement('h3')).text("Review");
            mid.append(e);
            e = $(document.createElement('p')).attr('class','comBody').text(com.commentBody);
            mid.append(e);

            e = $(document.createElement('h2')).attr('class','overall-com-text').text(com.overallRate + "/10");
            left.append(e);

            var rateSec = createRatings(com);
            mid.append(rateSec);

            comE.append(left);
            comE.append(mid);
            comE.append(right);

            return comE;
        }

        function loadMore(){
            getComments(appendComments);
        }

        function addCreatedReview(result){
            var com = createComment(result);
            //Add one due to your new review
            offset++;
            com.hide();
            com.prependTo("#commentList");
            com.slideDown('slow');
        }

        function createReview(event){

            event.preventDefault();
            $('#createReview').prop("disabled",true);
            var formdata = $('form').serialize();

            $.ajax({
                type: "POST",
                url: "/review/" + pId ,
                data: formdata,
                success: function (result) {
                    addCreatedReview(result);
                    $('#addComment').slideUp();
                },
                error: function (res, p1, p2) {
                    console.log("error:" + res);
                    $('#createReview').prop("disabled",false);
                }
            });
        }

        $(document).ready(function(){
           getComments(appendComments);
            $("#more").click(loadMore);
            $("#createReview").click(createReview);
        });