extends layout

block headStyles
    link(rel='stylesheet', href='/stylesheets/productStyle.css')

block content
    #ratings
        a(href="/product/#{product.productName}/stats/?version=#{product.version}")
            button.btn.submit-btn Statistics
        .rating
            h3 Overall
            if(product.overallRate)
                h2.rate #{product.overallRate.toFixed(1)}/10
                .bar.bar-back
                    .bar#overall(style="width:#{(product.overallRate / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Learnability
            if(product.learnability)
                h2.rate #{product.learnability.toFixed(1)}/10
                .bar.bar-back
                    .bar#learnability(style="width:#{(product.learnability / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Ease of Use
            if(product.easeOfUse)
                h2.rate #{product.easeOfUse.toFixed(1)}/10
                .bar.bar-back
                    .bar#easeOfUse(style="width:#{(product.easeOfUse / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Compatibility
            if(product.compatibility)
                h2.rate #{product.compatibility.toFixed(1)}/10
                .bar.bar-back
                    .bar#compatibility(style="width:#{(product.compatibility / 10.0) * 100}%")
            else
                h2 No Rating
        .rating
            h3 Documentation
            if(product.documentation)
                h2.rate #{product.documentation.toFixed(1)}/10
                .bar.bar-back
                    .bar#documentation(style="width:#{(product.documentation / 10.0) * 100}%")
            else
                h2 No Rating
        #tags
            h1 Tags
    #description
        h1 #{product.productName} - #{product.version}
        img#logo(src="#{product.logoUrl}", onerror="this.style.display='none'")
        div
            h2 Description
            p= product.description

        .container
            .col-md-100
                h3 Comments
                .container.col-md-100#commentList


    script.
        var offset = 0;
        var pId = #{product.productId};

        function getComments(callback){
            $.ajax({
                type: "POST",
                url: "/product/" + pId + "/comments",
                cache: false,
                data: {offset:offset},
                success: function (result) {
                    callback(result);
                },
                error: function (res, p1, p2) {
                    console.log("error:" + res);
                }
            });
        }

        function appendComments(comments){
            for(var i in comments){
                var comment = comments[i];
                var com = createComment(comment);
                $("#commentList").append(com);
            }
        }

        function createComment(com){
            var comE = $(document.createElement('div')).attr('class','comment');
            var e = $(document.createElement('p')).attr('class','comUser').text(com.username);
            comE.append(e);
            e = $(document.createElement('p')).attr('class','comBody').text(com.commentBody);
            comE.append(e);
            e = $(document.createElement('p')).attr('class','comDate').text(com.commentTime);
            comE.append(e);
            return comE;
        }

        $(document).ready(function(){
           getComments(appendComments);
        });