//
   Created by Daniel on 2/2/2016.

extends layout

block content
    table
        thead
            tr
            th= productInfo[0].productName
        tbody
            tr
                td= productInfo[0].productName
            tr
                td= productInfo[0].logoUrl
            tr
                td= productInfo[0].version
            tr
                td= productInfo[0].lastUpdate
            tr
                td= productInfo[0].userId