//
   Created by Nathan on 2/21/2016.

extends layout

block headStyles
    link(rel='stylesheet', href='/stylesheets/searchStyle.css')

block content
    h1 Search
    #products
    each post in posts
        .row
            .row-item.row-name
                a(href="/product/" + "#{post.n}")= post.n
            .row-item.row-version
                a(href="/product/" + "#{post.n}" + "/" + "#{post.v}")=post.v
            .row-item.row-rating= post.o
            .row-item.row-date= post.d
            .row-item.row-tags
                    each tag in post.tags
                        a.tag(href="/search?tags=#{tag}")
                            | #{tag}


    script.

        /*
            options can contain:
            {
                limit: number //Number of products to return, default 25
                page: number //The page to return, aka offset, default 1
                tags: string[] //All tags to filter by
                name: string //Name to filter products by
            }
         */
        function getProducts(callback, options) {
            $.ajax({
                type: "POST",
                url: "/products",
                cache: false,
                data: options,
                success: function (result) {
                    callback(result);
                },
                error: function (res, p1, p2) {
                    console.log("error:" + res);
                }
            });
        }

        function printNameDivs(result){
            var posts = result.posts;
            for (var i in posts) {
                var post = posts[i];
                $("#products").append('<div class="row-item row-name"><a href="/product/' + post.n + '/'+ post.v +'">' + post.n + '</a></div>')
            }
        }

        $(document).ready(function() {
            getProducts(printNameDivs,{});
        })