extends layout

block headStyles
  link(rel='stylesheet', href='/stylesheets/userprofile.css')

block content

    .container.col-md-12.main-body
        .col-md-6

            h3 #{user.username}
            .container.image.col-md-4
                        img.profile-image(src="#{user.profileImageUrl}")
            p Bio:
            p #{user.bio}


        .col-md-6
            h3 Reviews
            .container.col-md-11
              each comment in comments
                .post
                    p Overall Rating: #{comment.overallRate}
                    p #{comment.commentBody}
                    br
